{
  "env": {
      "browser": true,
      "node": true,
      "jquery": true,
      "mocha": true,
      "jasmine": true,
      "jest": true
  },
  "globals": {
    "_": false,
    "EventEmitter": false,
    "Flux": false,
    "React": false,
    "ReactRouter": false,
    "mixpanel": false,
    "UserVoice": false
  },
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "array-bracket-spacing": [ 1, "always", { "singleValue": false } ],
    "block-spacing": 1,
    "brace-style": [ 2, "1tbs", { "allowSingleLine": true } ],
    "camelcase": [1, { "properties": "never" }],
    "comma-dangle": [1, "never"],
    "comma-spacing": [1, { "before": false, "after": true }],
    "comma-style": [1, "last"],
    "consistent-this": [2, "that"],
    "curly":  1,
    "dot-location": [1, "property"],
    "dot-notation": [2, { "allowKeywords": false, "allowPattern": "^[a-z]+(_[a-z]+)+$" }],
    "eqeqeq": 1,
    "indent": [1, 2, { "SwitchCase": 1 }],
    "guard-for-in": 1,
    "jsx-quotes": [1, "prefer-double"],
    "key-spacing": 1,
    "linebreak-style": [2, "unix"],
    "max-len": [1, 80, 2, { "ignoreUrls": true }],
    "max-depth": [1, 4],
    "newline-after-var": [2, "always"],
    "no-alert": 0,
    "no-array-constructor": 2,
    "no-catch-shadow": 1,
    "no-cond-assign": 2,
    "no-console": 0,
    "no-constant-condition": 1,
    "no-control-regex": 2,
    "no-debugger": 1,
    "no-delete-var": 1,
    "no-dupe-args": 2,
    "no-dupe-keys": 2,
    "no-duplicate-case": 2,
    "no-else-return": 0,
    "no-empty-character-class": 2,
    "no-empty": 1,
    "no-eq-null": 1,
    "no-eval": 1,
    "no-ex-assign": 2,
    "no-extend-native": 0,
    "no-extra-bind": 1,
    "no-extra-boolean-cast": 2,
    "no-extra-parens": 0,
    "no-extra-semi": 2,
    "no-fallthrough": 1,
    "no-floating-decimal": 1,
    "no-func-assign": 2,
    "no-implicit-coercion": 1,
    "no-implied-eval": 1,
    "no-inner-declarations": 2,
    "no-invalid-regexp": 1,
    "no-invalid-this": 1,
    "no-irregular-whitespace": 2,
    "no-label-var": 2,
    "no-lone-blocks": 1,
    "no-lonely-if": 2,
    "no-loop-func": 1,
    "no-magic-numbers": [1, "ignoreArrayIndexes": true],
    "no-mixed-spaces-and-tabs": 2,
    "no-multi-spaces": 1,
    "no-multiple-empty-lines": 2,
    "no-nested-ternary": 2,
    "no-new-object": 2,
    "no-native-reassign": 1,
    "no-negated-in-lhs": 2,
    "no-obj-calls": 2,
    "no-octal": 1,
    "no-param-reassign": 0,
    "no-proto": 2,
    "no-redeclare": 1,
    "no-regex-spaces": 2,
    "no-return-assign": 2,
    "no-self-compare": 2,
    "no-sequences": 1,
    "no-shadow-restricted-names": 2,
    "no-shadow": 2,
    "no-sparse-arrays": 2,
    "no-trailing-spaces": 2,
    "no-undef": 2,
    "no-undefined": 0,
    "no-unexpected-multiline": 1,
    "no-unreachable": 2,
    "no-unused-expressions": 1,
    "no-unused-vars": 1,
    "no-use-before-define": 0,
    "no-useless-call": 1,
    "no-warning-comments": 1,
    "no-with": 2,
    "object-curly-spacing": [2, "always"],
    "operator-assignment": [2, "always"],
    "operator-linebreak": [2, "after"],
    "quote-props": [2, "as-needed"],
    "quotes": [1, "double"],
    "semi": [2, "always"],
    "semi-spacing": [2, {"before": false, "after": true}],
    "space-before-function-paren": 2,
    "space-in-parens": [2, "never"],
    "space-infix-ops": [2, {"int32Hint": false}],
    "spaced-comment": [2, "always"],
    "strict": 0,
    "use-isnan": 2,
    "valid-typeof": 2,
    "wrap-iife": 0,
    "yoda": 0
  }
}